/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #acacc3;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 0.5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #34577d;
    color: white;
    border:none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    background-color: #34577d; 
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.1s ease, transform 0.2s ease;
}

.section button {
    border-radius: 8px; 
}

button:hover {
    background-color: #6193c9;
}

p {
    margin-top: 10px;
    font-weight: normal;
    color: #333;
    margin-left: 0.5px;
    text-indent: 30px
}

.section {
    margin-bottom: 30px;
}

/* Estilo para los globos */
.globo {
    position: absolute;
    font-size: 40px;
    animation: flotar 3s linear infinite;
    opacity: 0.8;
}

/* Animación para hacer flotar los globos */
@keyframes flotar {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-300px);
        opacity: 0;
    }
}
